.calendar_mode-1 {
    position: relative;
    display: block;
    width: 110px;

    &:after {
        content: "";
        display: block;
        position: absolute;
        @include size(100%);
        background: #DCDCDC;
        top: 5px;
        left: -4px;
        z-index: 1;
        border-radius: 5px;
    }

    .wrapper {
        position: relative;
        z-index: 2;
        display: block;

        .month {
            display: block;
            background: get-bg-color(m1);
            padding: 10px 8px 5px;
            color: #ffffff;
            font-size: 15px;
            position: relative;

            &:after {
                content: "";
                display: block;
                position: absolute;
                @include size(85%,1px);
                background: #DCDCDC;
                bottom: 5px;
                border-radius: 5px;
            }
        }

        .date {
            text-align: center;
            padding: 20px 10px;
            background: #ffffff;
            color: #98ACC0;
            font-size: 25px;
            border: 1px solid #e8e9eb;
            border-top: none;
        }
    }
}
