.sidebarNav_button{
box-sizing: border-box;
padding: 20px;
@include transition(1s);
top: 0px;
  a{
    box-sizing: border-box;
    padding: 20px;
    @include display-flex;
    @include align-items(center);
    @include justify-content(center);
    @include size(50px);
    border: 3px solid get-bg-color(m1);
    border-radius: 50%;
    background: #ffffff;
    color: #98ACC0;
    @include transition(0.6s);
    opacity: 0.4;
    &:hover{
      opacity: 1;
    }
  }
}
