.view-mode-vm_2 {
    height: 100%;
    @include box-shadow(0px 1px 5px 1px #DDDDDD);
    margin-right: 5px;

    .clear-margin {
        @include child-margin(0px,0px);
    }

    .field-margin {
        @include child-margin(0px,10px);
    }

    .field-perfile.field-wrapper {
        .field-name-ds-user-picture {
            a {
                position: relative;
                overflow: hidden;
                display: block;

                &:after {
                    box-sizing: border-box;
                    content: '';
                    position: absolute;
                    @include rwd-screen(pc,small-pad) {
                        right: 0;
                        top: 0;
                        @include size(0px,100%);
                        border-style: solid;
                        border-color: rgba(0,0,0,0) #ffffff rgba(0,0,0,0) rgba(0,0,0,0);
                        border-width: 720px 200px 0 0;
                    }
                    @include rwd-screen(phone) {
                        right: 0;
                        top: 0;
                        @include size(0px,100%);
                        border-style: solid;
                        border-color: rgba(0,0,0,0) rgba(0,0,0,0) #ffffff rgba(0,0,0,0);
                        border-width: 0 0 150px 480px;
                    }
                }
            }
        }
    }

    .field-content.field-wrapper {
        .content-wrapper {
            box-sizing: border-box;
            padding: 40px;
            @include rwd-screen(pc,small-pad) {
                padding-left: 10px;
            }
            @include rwd-screen(phone) {
                padding-top: 0;
            }
            //@include rwd-coding(background,red,blue,green,red);
        }
    }
}
