.views-block_time-line {
    .view > .view-content {
        .item-list {
            padding: 80px 0;

            > ul {
                padding: 0;
            }
        }
    }
}
//calendar


.timeLine {
    position: relative;
    box-sizing: border-box;
    border-top: 5px solid get-bg-color(m1);
    border-bottom: 5px solid get-bg-color(m1);

    .timeLine-bar {
        @include absolute-align(center,left);
        @include transition(0.6s);
        height: 0;
        width: 5px;
        max-height: 100%;
        background: get-bg-color(m1);
    }

    .timeLine-group {
        position: relative;
        @include display-flex;
        @include justify-content(center);

        &:before {
            content: "";
            display: block;
            width: 85%;
            max-width: 500px;
            height: 2px;
            border-radius: 20px;
            background: get-bg-color(m1);
            @include absolute-align(center,center);
        }

        .timeLine-group-content {
            position: relative;
            z-index: 1;
            color: get-bg-color(m1);
            font-size: 30px;
            display: block;
            text-align: center;
            padding: 50px;
            background: #ffffff;
        }
    }
}
